# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
ENV/
env/

# macOS files
.DS_Store

# VS Code
.vscode/

# Python-specific
*.log
*.sqlite3
*.db
*.env

# Pydantic cache
*.mypy_cache/
*.pytest_cache/

# Uvicorn reload temp
*.reload.*

# Pipenv or Poetry (if used)
Pipfile.lock
poetry.lock
